* {
  font-family: 'Verdana', sans-serif;
  color: black;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  display: inline;
  color: #FF0055;
  font-style: bold;
  font-weight: 800;
}

h2 {
  font: bold 20px 'Verdana', sans-serif;
  line-height: 50px;
}

ins {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

ul, li {
    list-style: none;
}

nav {
    width:100%;
    background-color: #272727;
}

nav a {
    margin: 0;
    width: 130px;
    display: inline-block;
    text-align: center;
}

.navDropdown {
  padding: 10px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.navDropdown:hover .navDropdownContent, .navDropdownContent:hover .navDropdownContent {
  display: block;
}

.navDropdownContent ul,.navDropdownContent li {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.navDropdownContent {
  display: none;
  position: absolute;
  height: auto;
  width: 200px;
  top: 35px;
  left: 140px;
  background-color: #272727;
  z-index: 8;
}

.navDropdownContent a {
  display: block;
  padding: 10px 20px;
  width: 160px;
  text-decoration: none;
  text-align: left;
}

.navDropdownContent a:hover {
  color: #FFF;
  background-color: #000;
}

.logo {
    width: 200px;
    height: auto;
    position:absolute;
    right: 0;
    bottom: 0;
}

.description {
  width: 500px;
  padding: 20px;
  margin: 200px 20px 0 200px;
  float: left;
  background-color: #EDE1E6;
  font-family: 'Verdana', sans-serif;
}

.descriptionContainer {
  float:left;
  height: 100%;
  padding: 0;
  position: relative;
  top: 0;
}

.card-container {
    position: relative;
    float: left;
    top:0;
    margin: 0 auto 0 50px;
}

.heart-shape {
  position: relative;
  width: 400px;
  height: 360px;
  top: 0;
  margin: 0 auto;
  z-index: 1;
}

.heart-shape::before, .heart-shape::after {
  content: "";
  position: absolute;
  top: -100px;
  width: 400px;
  height: 600px;
  background: pink;
}

.heart-shape::before {
  left: 200px;
  transform: rotate(-45deg);
  border-radius: 50% 45% 50% 0;
  transform-origin: 0 100%;
}

.heart-shape::after {
  left: -200px;
  transform: rotate(45deg);
  border-radius: 45% 50% 0 50%;
  transform-origin: 100% 100%;
}

.card {
  font-family: 'Pacifico', cursive;
  position: relative;
  width: 550px;
  top: 200px;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

button {
    color: #fff;
    font: 15px/20px helvetica;
    height: 30px;
    background-color: #FF0055;
    /* padding: 10px; */
    margin: 4px 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

.twitter {
    background-color: #1b95e0;
}

.twitter a {
    font: 15px/20px helvetica;
    color: #fff;
    /* padding: 6px; */
}

@media screen and (max-width: 1100px) {
  body {
    background-image: none;
    background-color:pink;
    font-size: 70%;
  }

  nav a {
      width: 80px;
  }

  .navDropdownContent {
      left: 80px;
  }

  .logo {
      display: none;
  }

  .description {
    margin: 0;
    padding: 0 40px 20px 40px;
    width: auto;
  }
  .descriptionContainer {
      width:auto;
      height: auto;
  }

  .heart-shape {
    display: none;
  }

  .card {
    top:auto;
    width: 100%;
    background-color: white;
    z-index: 1;
    /* font-size: 1.4em; */
  }

  .card-container {
      width: 100%;
      margin: 0;
  }
}
